@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation a:hover {
  color: #78599f;
  border-bottom: 2px solid #78599f;
}

.skew {
  clip-path: polygon(65% 0,100% 0,100% 100%,0 100%);
}